{% extends "base.html" %}
{% load static %}
{% block content %}
<title>IBZ Networks</title>

<br>
 <div class="row">

        <div class="col-md-2">
            <a href="{% url 'handset_insert' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas"></i> Handset Device Register
            </a>
        </div>


    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

 {% endblock content %}
